.is-rounded-custom {
  border-radius: 20px;
  object-fit: cover; // Fix stretching
  width: 100%;
  height: 100%;
}

.shadow-lg {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

[data-theme='dark'] .shadow-lg {
  box-shadow: 0 10px 30px rgba(255,255,255,0.05);
}
