<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="is-flex is-align-items-center mb-4">
          <img src="image/logo.png" alt="Optima Collection Logo" class="mr-2 logo-blend" style="max-height: 40px;">
          <h3 class="title is-4 mb-0">Optima Collection</h3>
        </div>
        <p>Ваш ідеальний відпочинок у Кам'янці-Подільському. Поєднання історії та сучасного комфорту.</p>
        <div class="social-icons mt-4">
          <a href="https://www.instagram.com/optima.collection.kp/" target="_blank" class="mr-3"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="https://www.facebook.com/OptimaCollectionKamianetsPodilsky/?locale=uk_UA" target="_blank" class="mr-3"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
      </div>
      <div class="column is-4">
        <h4 class="title is-5">Навігація</h4>
        <ul>
          <li><a href="#about">Про готель</a></li>
          <li><a href="#rooms">Номери</a></li>
          <li><a href="#gallery">Галерея</a></li>
          <li><a href="#location">Локація</a></li>
        </ul>
      </div>
      <div class="column is-4">
        <h4 class="title is-5">Контакти</h4>
        <p><a href="https://maps.app.goo.gl/SebK3AWyUy7ZxWsS6" target="_blank">вул. Старобульварна, 4</a></p>
        <p><a href="tel:+380672382876">+38 067 238 28 76</a></p>
        <p><a href="mailto:kp.hotel@optima-collection.com">kp.hotel&#64;optima-collection.com</a></p>
      </div>
    </div>
    <hr>
    <div class="content has-text-centered">
      <p>
        &copy; 2024 Optima Collection Кам'янець-Подільський. Всі права захищені.
      </p>
      <div class="is-flex is-justify-content-center is-align-items-center mt-2">
        <a href="https://github.com/" target="_blank" class="has-text-grey mr-2">
          <i class="fab fa-github"></i>
        </a>
        <p class="is-size-7 has-text-grey mb-0">
          Designed by Valery
        </p>
      </div>
    </div>
  </div>
</footer>
