<section class="hero is-fullheight-with-navbar is-relative">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle is-4 is-uppercase has-text-white has-text-weight-light">Відчуйте справжню атмосферу старого міста</h2>
      <h1 class="title is-1 has-text-white mb-6">Optima Collection <br>Кам'янець-Подільський</h1>
      <div class="buttons is-centered">
        <a class="button is-primary is-large" href="#rooms">Переглянути номери</a>
        <a class="button is-white is-outlined is-large" href="#about">Про нас</a>
      </div>
    </div>
  </div>
  <div class="hero-background-overlay"></div>
</section>
